body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.head-cont {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

button {
  cursor: pointer;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.contact {
  margin-left: auto;
  font-style: normal;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.contact-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:focus,
.nav-link:hover,
.contact-link:hover,
.contact-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* .hero-cont  */
.section-hero {
  padding: 188px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-1.jpg');
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-txt {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.order-servise-btn {
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border-radius: 4px;
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-servise-btn:hover,
.order-servise-btn:focus {
  background: #404bbf;
}
.order-btn {
  font-size: 16px;
  color: #ffffff;
}
/* s2 */
.section-future {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* h3 */
.f-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* p */
.f-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section 2 future */
.section-future {
  padding: 120px 0;
}

.future-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.future-title {
  width: calc((100% - 72px) / 4);
}

.future-icon-cont {
  width: 264px;
  height: 112px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  display: flex;
  background-color: #f4f4fd;
  border: solid 1px #8e8f99;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.future-icon-con:hover,
.future-icon-con:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* s3 */
.sec-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
/* h2 */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-list {
  display: flex;
  gap: 24px;
}

.card-team {
  background-color: #ffffff;
  line-height: 1.2;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-content {
  padding: 32px 0;
  min-width: 264px;
  background-color: #ffffff;
}

/* h3 */
.htitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.centr,
.txt-content {
  text-align: center;
  margin-bottom: 8px;
}

.soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* .soc-item {
} */
.soc-link {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf;
}

/* S4 */
.sec-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-items {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-items:hover .leaving-txt {
  transform: translateY(0%);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}
.leaving-txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* footer */
.foot {
  padding: 100px 0;
  background-color: #2e2f42;
}
.foot-cont {
  display: flex;
  align-items: baseline;
}
.foot-logo-cont {
  margin-right: 120px;
}
.foot-link {
  display: inline-block;
  margin-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-w {
  color: #f4f4fd;
}
.p-text {
  color: #f4f4fd;
  max-width: 264px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.social-media {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.foot-soc-list {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 16px;
}
/* .foot-soc-item {
} */
.foot-soc-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-soc-link:hover,
.foot-soc-link:focus {
  background-color: #31d0aa;
}

.soc-icon,
.foot-soc-icon {
  fill: #f4f4fd;
}
/* sub */
.sub-cont {
  align-items: flex-end;
  margin-left: auto;
}
.sub-form {
  display: flex;
  gap: 24px;
}
.sub-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.sub-input::placeholder {
  color: #ffffff;
}
.sub-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
.foot-sub-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-sub-btn:hover,
.foot-sub-btn:focus {
  background-color: #404bbf;
}
.plane-icon {
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-button-close {
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button-close:hover + svg,
.modal-button-close:focus + svg {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}
.modal-form {
}
.input-cont {
  margin-bottom: 8px;
}
.input-label {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.input-line {
  position: relative;
  margin-bottom: 8px;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  /* font */
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  /* end font */

  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:hover {
  border: 1px solid #4d5ae5;
}
.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon,
.modal-input:hover + .input-icon {
  fill: #4d5ae5;
}
.comment-cont {
  margin-bottom: 16px;
}
.comment-input {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.comment-input:focus,
.comment-input:focus {
  border: 1px solid #4d5ae5;
}
.policy-cont {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.policy-label {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.policy-link {
  text-decoration: underline;
  color: #4d5ae5;
}
.check-input {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-inpcheck:checked + .policy-label > .check-input {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
